.filter-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: solid 4px rgba(255, 255, 255, 0.529);
    background-color: rgba(103, 90, 251, 0.373);
    padding: 1em 0 1em 1em ;
    border-top-right-radius: 1em;
}

.flight-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    width: 20%;
}

.status-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    border: solid rgba(255, 255, 255, 0.551) 2px;
    transition: background-color 0.3s;
    border-top-right-radius: 0.4em;
    background-color: white;
}

.status-button:hover {
    background-color: #3610dc72;
    color: white;
}

.airport-images {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 1em;

}

.airport-images img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 3px;
    border-top-right-radius: 0.4em;
    border: 2px #3510dc00 solid;
    transition: border 0.3s;




}

.airport-images img:hover {
    cursor: pointer;
    border: 2px #3610dc72 solid;
    
}