/* Added for general use */
.center-aligned {
    display: flex;
    align-items: center;
}

.width-10em {
    width: 10em;
}

.width-15em {
    width: 15em;
}

.width-20em {
    width: 20em;
}

.table-row, .table-column {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.table-row {
    border-bottom: solid rgba(195, 195, 195, 0.483) 2px;
    height: 4em;
}

.image, .time, .more-details {
    width: 10em;
}

.portOfCallA {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20em;
    padding: 0;
}

.portOfCallA h5 {
    font-weight: bold;
}

.flightDetails {
    display: flex;
    align-items: center;
}

.flightDetails h3 {
    width: 5em;
}

.flightDetails p {
    width: 15em;
    margin-left: 1em;
}

.status {
    display: flex;
    width: 15em;
}

.more-details {
    display: flex;
    width: 10em;
}


