.button-sort {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}

.button-sort:hover {
  color: darkblue;
}

.table-container {
  /* margin-left: 1em; */
  margin-bottom: 2em;
}

.table {
  font-size: 1.05em;
  color: black;
  background: rgba(255, 255, 255, 0.887);
  box-shadow: rgba(255, 255, 255, 0.282) 1px 1px 7px 7px;
  border-radius: 1.5em;
  border-top-left-radius: 0;
  /* display: flex;
  flex-wrap: wrap; */
  justify-content: center;
  border: solid rgb(195, 195, 195) 4px;
}

.table-row-container:nth-child(odd) {
  background-color: #a43db323;
}

.image {
  display: flex;
  width: 10em;
  align-items: center;
}

.time {
  display: flex;
  width: 10em;
  align-items: center;
}

.portOfCallA {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20em;
  margin: 0;
  padding: 0;
}

.status {
  display: flex;
  width: 15em;
  align-items: center;
}

.more-details {
  display: flex;
  width: 10em;
  align-items: center;
}

.table-column {
  display: flex;
  align-items: center;
  height: 2em;
  padding: 1em;
  padding-top: 0.6em;
  padding-bottom: 0.4em;
  border-bottom: solid rgb(195, 195, 195) 4px;
  background: white;
}

.table-column>div {
  font-weight: bolder;
}

.table-column>div>h5 {
  font-weight: bolder;
  padding: 0.5em;
  padding-left: 0;
  border-radius: 0.5em;
  color: black;
  background-color: white;
  border-radius: 0.5em;
  border-top-left-radius: 0;
}

.table-column>div>h5:hover {
  font-weight: bolder;
  padding: 0.5em;
  margin-left: -0.5em;
  border-radius: 0.5em;
  color: white;
  background-color: #a43db323;
  transition: 0.2s;
  border-radius: 0.5em;
  border-top-left-radius: 0;
}

.table-search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* @media (max-width: 1000px) {
  .table {
    font-size: 0.8;
  }
}

@media (max-width: 600px) {
  .table {
    font-size: 0.5;
  }
} */