.button-sort {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  font-weight: bold;
  margin: 0;
}

.button-sort:hover {
  color: #3610dc72;
}

.table-container {
  margin: 10em;
  margin-top: 5em;
}

.table {
  font-size: 1.1em;
  color: black;
  background: rgba(255, 255, 255, 0.887);
  box-shadow: rgba(255, 255, 255, 0.282) 1px 1px 7px 7px;
  border-radius: 1.5em;
  width: 60vw;
  border-top-left-radius: 0;
  /* display: flex;
  flex-wrap: wrap; */
  justify-content: center;
  border: solid rgb(195, 195, 195) 4px;
}

.table-row-container:nth-child(odd) {
  background-color: #a43db323;
}

.image,
.time,
.more-details {
  display: flex;
  align-items: center;
  width: 8em;
}

.portOfCallA {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  width: 18em;
}

.status {
  display: flex;
  align-items: center;
  width: 8em;
}

.table-column {
  display: flex;
  align-items: center;
  height: 2em;
  padding: 1em;
  padding-top: 0.6em;
  padding-bottom: 0.4em;
  border-bottom: solid rgb(195, 195, 195) 4px;
  background: white;
  justify-content: space-around;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.table-column > div {
  font-weight: bolder;
}

.table-column > div > h5 {
  font-weight: bolder;
  padding: 0.5em;
  padding-left: 0;
}

.table-column > div > h5:hover {
  font-weight: bolder;
  padding: 0.5em;
  margin-left: -0.5em;
  border-radius: 0.5em;
  color: white;
  background-color: #a43db323;
  transition: 0.2s;
  border-radius: 0.5em;
  border-top-left-radius: 0;
}

.table-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
