.details-table-container {
  font-size: large;
  margin: 2rem auto 0 auto;
  max-width: 600px;
  color: black;
}

.details-table {
  display: grid;
}

.row:last-child {
  border-bottom: none;
}

.airline img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 8px;
  border: 1px solid grey;
}
