@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: white;

  /* background: linear-gradient(
    to top,
    #ffa500 , 
    transparent ,
    darkblue 
  ); */

  background: rgba(47, 7, 207, 0.867);

  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
  /* position: relative; */
}

main {
  flex: 1;
  padding: 3em;
  overflow-y: scroll;
}

header {
  padding: 0.5em;
  display: flex;
  justify-content: space-evenly;
  padding-right: 10.5em;
  align-items: center;
  border-bottom: 2px solid white;
  position: sticky;
  top: 0;
  font-size: 1.5em;

  background-image: url(/images/skyhead.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


footer {
  padding: 0.5em;
  border-top: 2px solid white;
  margin-top: auto;
  text-align: center;
}

header img {
  border-radius: 50%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;

}

a {
  position: relative;
  text-decoration: none;
}

a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; 
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

a:hover::before {
  width: 50%; 
  box-shadow: white 1px 1px 1px 1px;
} 
.page-title-arrivals {
  margin-left: 4em;
  font-size: 3em;
  color: rgba(255, 255, 255, 0.499);
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 0.5em;
  margin-bottom: 1em;
  width: 6em;
  text-align: center;
}


.home-page-title {
  margin-left: 4em;
  font-size: 3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 0.5em;
  margin-bottom: 1em;
  width: 20em;
  text-align: center;
}

@media (max-width: 1100px) {
  body {
      font-size: 13px;
  }

}

@media (max-width: 850px) {
  body {
      font-size: 10px;
  }

}








